<!DOCTYPE html>
<html lang="en" ng-app="gn">
<head>
    <meta charset="UTF-8">
    <title>Guess a Number</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" ng-controller="mainController">
    {{{content}}}
</div>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/controller.js"></script>
<script src="/public/js/services.js"></script>
</body>
</html>